main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nav-search{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height:2.5rem;
    width:60vw;
    color:#0F1111;
    background-color:#E6E6E6;
    border-radius:3px;
    overflow:hidden;
}

.search-select{
    width:55px;
    background-color: #E6E6E6;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
    font-size:0.8rem;
    color:#616060;
}

.search-select:hover{
    background-color: #d4d4d4;
    height:2.5rem;
}

.search-input{
    width:100%;
    height:2.5rem;
    font-size:1.05rem;
    border:none;
    outline: none;
    padding-left:10px;
    color:#616060;
}

.search-input:focus {
    background-color: white;
}

.nav-search:focus-within {
    outline: 2px solid orange;
    border: none;
}

.search-icon{
    width: 2.8125rem;
    height:2.5rem;
    display:flex;
    background-color:#FEBD69;
    justify-content: center;
    font-size: 1.3rem;
    align-items:center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-icon:hover{
    background-color:#eca241 ;
}

/* classroom Section */
.classroom-section {
  padding: 40px 60px;
}

.classroom-section h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 25px;
}

/* classroom Grid - 3 per row */
.classroom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

/* classroom Card */
.classroom-card {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 6px;
  padding: 15px;
}

.classroom-card img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 6px; /* square with slight rounded corners */
  margin-right: 20px;
}

.classroom-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* classroom Info */
.faculty-info h3 {
  font-size: 1.1rem;
  color: #0F1111;
  margin-bottom: 5px;
}

.classroom-info p {
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 10px;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .classroom-card {
    flex-direction: column;
    text-align: center;
  }

  .classroom-grid {
    grid-template-columns: 1fr; /* stack in single column on mobile */
  }
}
