main{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nav-search{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height:2.5rem;
    width:60vw;
    color:#0F1111;
    background-color:#E6E6E6;
    border-radius:3px;
    overflow:hidden;
}

.search-select{
    width:55px;
    background-color: #E6E6E6;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:none;
    font-size:0.8rem;
    color:#616060;
}

.search-select:hover{
    background-color: #d4d4d4;
    height:2.5rem;
}

.search-input{
    width:100%;
    height:2.5rem;
    font-size:1.05rem;
    border:none;
    outline: none;
    padding-left:10px;
    color:#616060;
}

.search-input:focus {
    background-color: white;
}

.nav-search:focus-within {
    outline: 2px solid orange;
    border: none;
}

.search-icon{
    width: 2.8125rem;
    height:2.5rem;
    display:flex;
    background-color:#FEBD69;
    justify-content: center;
    font-size: 1.3rem;
    align-items:center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-icon:hover{
    background-color:#eca241 ;
}