*{
    margin : 0px;
    padding : 0px;
}

.about{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-image: url('main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    gap: 20px;
}

#faculty, #cr{
    text-decoration: none;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 220px;
    border: 2px solid white;
    padding : 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(14, 1, 58);
    color: whitesmoke;
    overflow: hidden;
    word-wrap: break-word;
}

