*{
    margin : 0px;
    padding : 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content :space-around;
    background-color: rgb(230, 228, 228);
}

#logo img{
    height : 70px;
    width : 500px;
    padding: 15px 12px;
}

#name{
    text-align: left;
    padding: 15px;
    color :rgb(34, 34, 88);
}

#affiliation{
    padding: 2px;
    font-style: italic;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.about{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    background-image: url('main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    gap: 20px;
}

#faculty, #cr{
    text-decoration: none;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 220px;
    border: 2px solid white;
    padding : 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(14, 1, 58);
    color: whitesmoke;
    overflow: hidden;
    word-wrap: break-word;
}


footer{
    background-color: rgb(28, 28, 28);
}

.links{
    color: white;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.links li a:hover{
    color: rgb(70, 131, 184);
}

#copyright{
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
}