*{
    margin : 0px;
    padding : 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content :space-around;
    background-color: rgb(230, 228, 228);
}

#logo img{
    height : 70px;
    width : 500px;
    padding: 15px 12px;
}

#name{
    text-align: left;
    padding: 15px;
    color :rgb(34, 34, 88);
}

#affiliation{
    padding: 2px;
    font-style: italic;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.about{
    display: flex;
    flex-direction: column;
    background-image: url('main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about div{
    margin: 20px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    padding : 10px;
    font-size: 30px;
}

#sign{
    display :flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    text-decoration: none;
    color: rgb(8, 1, 53);
}


footer{
    background-color: rgb(28, 28, 28);
}

.links{
    color: white;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.links li a:hover{
    color: rgb(70, 131, 184);
}

#copyright{
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
}