*{
    margin : 0px;
    padding : 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content :space-around;
    background-color: rgb(230, 228, 228);
}

#logo img{
    height : 70px;
    width : 500px;
    padding: 15px 12px;
}

#name{
    text-align: left;
    padding: 15px;
    color :rgb(34, 34, 88);
}

#affiliation{
    padding: 2px;
    font-style: italic;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.image{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img{
    width : 100%;
}

#sign{
    display :flex;
    justify-content: flex-end;
}

.sign{
    text-align: left;
    padding: 20px;
    color :rgb(34, 34, 88);
    font-size: 20px;
}

form{
    width: 100%;
    height:auto;
    place-items: center;
}

.sign {
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}
  
form fieldset {
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 30px;
    width:40%;
    height: auto;
    display: grid;
    background-color: white;
}
  
label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #333;
    text-align: left;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="tel"],
  #gender,
  input[type="password"] {
    width: 100%;
    height: auto;
    padding: 8px 10px;
    margin-top: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus,
  input[type="tel"]:focus,
  #gender:focus,
  input[type="password"]:focus {
    border-color: #18247f;
    outline: none;
  }
  
  button[type="submit"],
  button[type="reset"] {
    margin-top: 20px;
    background-color: #330877;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
  }

  button[type="submit"] a{
    text-decoration: none;
    color: white;
  }
  
  input[type="submit"]:hover {
    background-color: #009b08;
  }

.account{
    text-align: right;
    padding : 10px;
}


footer{
    background-color: rgb(28, 28, 28);
}

.links{
    color: white;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.links li a:hover{
    color: rgb(70, 131, 184);
}

#copyright{
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
}