*{
    margin : 0px;
    padding : 0px;
}

.image{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img{
    width : 100%;
}

#sign{
    display :flex;
    justify-content: flex-end;
}

.sign{
    text-align: left;
    padding: 20px;
    color :rgb(34, 34, 88);
    font-size: 20px;
}


#navbar{
    background-color: rgb(35, 35, 37);
    color: aliceblue;
}

.navbar{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-size: 18px;
}

.navbar, .nav{
    list-style: none;
    color: rgb(227, 227, 227);
    text-decoration: none;
    justify-content:flex-start;
    padding: 12px;
    align-items: center;
}

/*-----------------------------------------------------------------*/

.main{
    width: 100%;
    height:200px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    place-items: center;
    text-align: center;
    padding: 50px 20px;
    color :rgb(34, 34, 88);
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}

.image{
    width: 100%;
    height:auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 10px;
    place-items: center;
}

img{
    width : 100%;
}

.next{
    text-align: center;
    padding: 20px;
    color:rgb(34, 34, 88);

}